{% extends 'base.html' %}

{% block content %}

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
  
          <div class="card mask-custom">
            <div class="card-body p-4 text-white">
  
              <div class="text-center pt-3 pb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                  alt="Check" width="60">
                <h2 class="my-4">Completed Tasks</h2>
              </div>

              <center>
              <a href="{% url 'home' %}">
                <button type="button" class="btn btn-warning" data-mdb-ripple-init>Home</button>
              </a>
              </center>
              <br>
  
              <table class="table text-white mb-0">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Team Member</th>
                    <th scope="col">Task</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for task in completed_tasks %}

                  <tr class="fw-normal">      
                    <td>{{forloop.counter}}</td>             
                    <th>
                      <img src="{{ task.featured_image.url }}"
                        alt="avatar 1" style="width: 50px; height: 50px; border-radius:50%;">
                      <span class="ms-2">{{task.name}}</span>
                    </th>
                    <td class="align-middle">
                      <span>{{task.task}}</span>
                    </td>

                    {% if task.priority == 'High' %}
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-danger">{{task.priority}}</span></h6>
                    </td>

                    {% elif task.priority == 'Medium' %}
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-warning">{{task.priority}}</span></h6>
                    </td>
                    {% else %}
                    <td class="align-middle">
                      <h6 class="mb-0"><span class="badge bg-success">{{task.priority}}</span></h6>
                    </td>

                    {% endif %}


                    <td class="align-middle">
                      <a href="{% url 'mark_as_undone' task.pk %}" data-mdb-tooltip-init title="Undone"><i
                        class="fa fa-times fa-lg text-warning me-3"></i></a>
                      
                      &nbsp;

                      <a href="{% url 'deleteTask' task.pk %}" data-mdb-tooltip-init title="Remove"><i
                          class="fa fa-trash fa-lg text-danger"></i></a>
                    </td>
                  </tr>

                  {% endfor %}
                  
                  

                
                </tbody>
              </table>
  
  
            </div>
          </div>
  
        </div>
      </div>
    </div>

{% endblock %}