<section class="vh-100" style="background-color: #eee;">
    
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center my-3 pb-3">To Do App</h4>
              
              <!-- <div class="row"> -->
                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" method="POST"
                  action="{% url 'addTask' %}">
              
                {% csrf_token %}
              
                <div class="col-auto">
                  <div data-mdb-input-init data-mdb-ripple-init class="form-outline">
                    <input type="text" name='task' class="form-control" placeholder="Enter Task"  />
                  </div>
                </div>

                <div class="col-auto">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Save</button>
                </div>
                </form>
<!--   
              <div class="col-auto">
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning">Get tasks</button>
              </div>
                <div class="col-auto">
                  
                  <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success">Done</button>
                </div>
               -->
  
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Todo item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  {% for task in tasks %}
                  <tr>                    
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{task.task}} - Pk {{task.pk}}</td>
                    <td>In progress</td>
                    <td>
                      <a href="{% url 'mark_as_done' task.pk %}"><i class="fa fa-check text-success" title="Done"></i></a>
                      &nbsp;
                      <a href="{% url 'editTask' task.pk %}"><i class="fa fa-edit text-primary" title="Edit"></i></a>
                      &nbsp;
                      <a href="{% url 'deleteTask' task.pk %}"><i class="fa fa-trash text-danger" title="Delete"></i></a>               
                  </td>
                  </tr>
                  {% endfor %}
                
                </tbody>
              </table>
  
            </div>
          </div>              
        </div>
      </div>      
    </div>

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card rounded-3">
            <div class="card-body p-4">
  
              <h4 class="text-center my-3 pb-3">Completed</h4>
              
              <table class="table mb-4">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Todo item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>

                  {% for task in completed_tasks %}
                  <tr>                    
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{task.task}}</td>
                    <td>Completed</td>
                    <td>
                      &nbsp;
                      <a href="{% url 'mark_as_undone' task.pk %}"><i class="fa fa-times text-primary" title="Undone"></i></a>
                      &nbsp;
                      <a href="{% url 'deleteTask' task.pk %}"><i class="fa fa-trash text-danger" title="Delete"></i></a>
                  </td>
                  </tr>
                  {% endfor %}
                
                </tbody>
              </table>
  
            </div>
          </div>              
        </div>
      </div>      
    </div>
  </section>